<section id="cases">

        <a href="#" class="cases-item case item-1">
            <span class="cases-item item-1 img-bg">
                <div class="item-bg-hovered" style="background-image: url('../img/hovered.png'); height: 370px;"></div>
            </span>
            <span class="cases-item item-title">
                <img src="./img/case-1.png" alt="">
                <span>Conversion Rate Optimierung und User Experience</span>
            </span>
        </a>

        <a href="#" class="cases-item case item-2">
            <span class="cases-item item-2 img-bg">
                <div class="item-bg-hovered"></div>
            </span>
            <span class="cases-item item-title">
                <img src="./img/case-2.png" alt="">
                <span>Conversion Rate Optimierung und User Experience</span>
            </span>
        </a>

        <a href="#" class="cases-item case item-3">
            <span class="cases-item item-3 img-bg">
                <div class="item-bg-hovered"></div>
            </span>
            <span class="cases-item item-title">
                <img src="./img/case-3.png" alt="">
                <span>Conversion Rate Optimierung und User Experience</span>
            </span>
        </a>

        <a href="#" class="cases-item case item-4">
            <span class="cases-item item-4 img-bg">
                <div class="item-bg-hovered"></div>
            </span>
            <span class="cases-item item-title">
                <img src="./img/case-4.png" alt="">
                <span>Conversion Rate Optimierung und User Experience</span>
            </span>
        </a>
</section>
<script>
    var cases = document.querySelectorAll('.case');
    if(cases.length % 2 != 0){
        cases[cases.length-1].style.width=100+"%";
    }

</script>