$menu-height: 65px;
$width-last-elem: 50%;
$article-left-padding: 160px;

$main-color: #fff;
$header-color: #141414;
$active-menu-color: #5cb68c;
$case1-color: #2d2140;
$case2-color: #1d967e;
$case3-color: #e3162c;
$case4-color: #86ae38;